<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
</head>
<body>
    <main>
        <div class="box-search">
            <span>Buscar cidade:</span>
            <form class="field-box">
                <input type="text" nome="city" placeholder="Nome da cidade">
                <input type="text" name="state" placeholder="UF" required maxilength="2">
            </form>
        </div>

        <section class="card-container">
            <div class="message container">
                <h1>Pesquise por uma cidade</h1>
            </div>
            <div class="overflow"></div>

            <div class="info-main"></div>
        </section>
    </main>
</body>
</html>